<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QuotationDataFile" value=".\\Files\\DadosCotacao.csv"/>
		<add key="CurrencyDataFile" value=".\\Files\\DadosMoeda.csv"/>
		<add key="OutputDir" value=".\\Files"/>
		<add key="API_HOST" value="https://localhost:7183"/>
	</appSettings>
</configuration>